<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SelectedViewModelInEditor">7c53ade5-312e-4f58-82d8-8ed0df57e482</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ShownModel">1cfdec4d-7711-418e-9e62-9813f2a3400b</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_PersistenceSetting">LocalTurnkey</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-DebuggerOcl">ocl: SysSingleton.superTypes

</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-BorPredServer"></keyandvalue>
</configs>