<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SelectedViewModelInEditor">7c53ade5-312e-4f58-82d8-8ed0df57e482</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ShownModel">1cfdec4d-7711-418e-9e62-9813f2a3400b</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-RunningModel_PersistenceSetting">LocalTurnkey</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-DebuggerOcl">ocl: SysSingleton.superTypes

</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.mdlr.modlr-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-ShownModel">a0b605e4-20db-4c6f-9405-52d64fb95852</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-RunningModel_PersistenceSetting">LocalTurnkey</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-DebuggerOcl">ocl: SysSingleton.superTypes

</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\newStart.modlr-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-ViewModelScreenSizeX">758</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-ViewModelScreenSizeY">626</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-SelectedViewModelInEditor">1c853b25-d014-4f6b-95d4-2e242f7ccc71</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-RunningModel_PersistenceSetting">XML</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-DebuggerOcl">ocl: SysSingleton.oclSingleton

ocl: SysUser.allinstances

</keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\Users\jambr\OneDrive\Dokument\GitHub\MiGGoINDEX\start.modlr-ShownModel">159ab72d-5e44-44db-b1ae-ea0e37229846</keyandvalue>
</configs>